.about-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;

    @include bp(desktop-up) {
        flex-direction: row;
        text-align: left;
        align-items: center;
        padding: 10rem map-get($keylines, small) 0 map-get($keylines, small);
    }
}

.about-section__image-wrapper {
    position: relative;
    margin: 2.5rem auto;
    width: 100%;
    max-width: 25rem;
    flex-grow: 0;
    flex-shrink: 0;
    @include before-aspect-ratio-custom($paddingBottom: 100%);

    @include bp(desktop-up) {
        margin: 0;
    }
}

.about-section__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: block;
    border-radius: 50%;
    border: 0.2rem solid palette(scorpion, base);

    animation: float 4000ms infinite;
}

.about-section__copy-wrapper {
    @include bp(desktop-up) {
        margin-left: 4rem;
    }
}

.about-section__heading {
    @extend %font-body;
    margin: 0 0 2.5rem 0;
}

.about-section__paragraph {
    margin: 0;

    &:not(:last-of-type) {
        margin-bottom: 2.5rem;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-8px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}