@use 'sass:map';

.about-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  @include bp(desktop-up) {
    align-items: center;
    flex-direction: row;
    padding: 10rem map.get($keylines, small) 0 map.get($keylines, small);
    text-align: left;
  }
}

.about-section__image-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 2.5rem auto;
  max-width: 25rem;
  position: relative;
  width: 100%;

  @include before-aspect-ratio-custom($padding-bottom: 100%);

  @include bp(desktop-up) {
    margin: 0;
  }
}

.about-section__image {
  animation: float 4000ms infinite;
  border: 0.2rem solid palette(scorpion, base);
  border-radius: 50%;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.about-section__copy-wrapper {
  @include bp(desktop-up) {
    margin-left: 4rem;
  }
}

.about-section__heading {
  @extend %font-monospace;

  display: inline-block;
  line-height: 1.2;
  margin: 0 0 1.5rem;
}

.about-section__heading-inner {
  animation: typing 1500ms steps(16, end) 750ms forwards,
    blink 1000ms step-end infinite;
  border-right: 4px solid palette(scorpion, base);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
}

.about-section__paragraph {
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 60%);
    transform: translateY(0);
  }

  50% {
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 20%);
    transform: translateY(-8px);
  }

  100% {
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 60%);
    transform: translateY(0);
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: initial;
  }
}
