.site-footer__wrapper {
    background-color: palette(mineShaft, base);
    color: palette(white, base);
    margin-top: 5rem;
}

.site-footer__inner {
    margin: 0 auto;
    max-width: map-get($max-widths, section);
    padding: 2.5rem map-get($keylines, small);

    @include bp(desktop-up) {
        padding: 5rem map-get($keylines, small);
    }
}

.site-footer__heading {
    margin-bottom: 2.5rem;

    @include bp(desktop-up) {
        font-size: 3.2rem;
        line-height: 1;
    }
}

.site-footer__social-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer__social-pod {
}

.site-footer__social-link {
    color: white;
    transition: color 200ms;

    display: block;

    &:hover,
    &:focus {
        color: palette(scorpion, base);
    }
}

.site-footer__print {
    display: block;
    margin-top: 2.5rem;
    text-align: center;
}