// Used on anchors whose content contains an SVG element. The SVG can stop
// cursor: pointer; from working and can also interfere with click events.
.svg-link {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// Apply this to an element which contains an SVG.
// e.g. <div class="svg-container svg-icon-facebook">
//          <svg><use xlink:href="#share-facebook"></use></svg>
//      </div>
// Give the ::before element a suitable padding-bottom to give the
// container the right aspect ratio i.e. 100% for a square icon.
.svg-container {
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 0;
        width: 100%;
    }

    > svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}