// Used on anchors whose content contains an SVG element. The SVG can stop
// cursor: pointer; from working and can also interfere with click events.
.svg-link {
  position: relative;

  &::after {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Apply this to an element which contains an SVG.
// e.g. <div class="svg-container svg-icon-facebook">
//          <svg><use xlink:href="#share-facebook"></use></svg>
//      </div>
// Give the ::before element a suitable padding-bottom to give the
// container the right aspect ratio i.e. 100% for a square icon.
.svg-container {
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 0;
    width: 100%;
  }

  > svg {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.svg-container--social::before {
  padding-bottom: 100%;
}
