@use 'sass:map';

.site-nav__wrapper {
  align-items: stetch;
  background-color: palette(mine-shaft, base);
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: center;
  position: fixed;
  width: 100%;
  will-change: transform;
  z-index: map.get($z-index, navigation);
}

.site-nav__list {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  max-width: 50rem;
  padding: 0;
  width: 100%;
}

.site-nav__list-item {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-nav__link {
  @extend %font-headings;

  border-radius: 0.8rem;
  color: palette(white, base);
  display: block;
  height: 3rem;
  line-height: 3rem;
  padding: 0 map.get($keylines, xsmall);
  text-decoration: none;
  transition: background-color 200ms;

  &:hover,
  &:focus {
    background-color: palette(scorpion, base);
  }
}
