.skills-section__pod-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include bp(desktop-up) {
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.skills-section__pod {
  &:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }

  @include bp(desktop-up) {
    flex: 1 1 calc(100% / 3);

    &:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 5rem;
    }
  }
}
