@use 'sass:map';
@use 'sass:string';

// Colour palettes which group similar colours as shades of a generic one.
$palettes: (
  mine-shaft: (
    base: #282828,
  ),
  scorpion: (
    base: #5b5b5b,
  ),
  white: (
    base: #ffffff,
  ),
  wild-sand: (
    base: #f4f4f4,
  ),
);

// Collection of breakpoints used on the site.
$bps: (
  desktop-up: 1024px,
);

// Values of keylines / gutters used throughout the site.
$keylines: (
  xsmall: 1.5rem,
  small: 2.5rem,
);

// Values of max widths for major site components and the site itself.
$max-widths: (
  section: 100rem,
);

// Values of z-index for site components.
$z-index: (
  navigation: 100,
);

// Collection of font stacks for use throughout the site via placeholders.
$font-stack: (
  'headings': string.unquote("'Open Sans', Arial, sans-serif"),
  'body': string.unquote("'Open Sans', Arial, sans-serif"),
  'monospace': string.unquote("'B612 Mono', monospace"),
);

%font-headings {
  font-family: map.get($font-stack, 'headings');
  font-style: normal;
  font-weight: 700;
}

%font-body {
  font-family: map.get($font-stack, body);
  font-style: normal;
  font-weight: 400;
}

%font-monospace {
  font-family: map.get($font-stack, monospace);
  font-style: normal;
  font-weight: 400;
}
