.work-section__pod-container {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    @include bp(desktop-up) {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
}

.work-section__pod {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &:not(:last-of-type) {
        margin-bottom: 2.5rem;
    }

    @include bp(desktop-up) {
        flex: 0 1 calc(50% - 2.5rem);

        &:not(:last-of-type) {
            margin-bottom: 0;
        }

        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 2.5rem;
        }
    }
}

.work-section__pod-inner {
    flex: 1 1 auto;
}