// --------------------------
// Third-party
// --------------------------

@import 'normalize';

// --------------------------
// Core includes
// --------------------------

@import 'variables';
@import 'mixins';
@import 'global';
@import 'helpers';

// --------------------------
// Page elements
// --------------------------

@import 'navigation';
@import 'about';
@import 'skills';
@import 'work';
@import 'footer';
